#🧪 Python Practical: Lists, Sets, Tuples, Dictionaries

In [6]:
# 🔹 1. LISTS
# A list is an ordered, mutable collection that allows duplicates

fruits = ['apple', 'banana', 'cherry', 'apple']
print("Original list:", fruits)

# Accessing elements by index
print("First fruit:", fruits[0])

Original list: ['apple', 'banana', 'cherry', 'apple']
First fruit: apple

In [7]:
# Adding an item
fruits.append('orange')
print("After appending:", fruits)

After appending: ['apple', 'banana', 'cherry', 'apple', 'orange']

In [8]:
# Removing an item
fruits.remove('banana')
print("After removing banana:", fruits)

# List length
print("Number of fruits:", len(fruits))

After removing banana: ['apple', 'cherry', 'apple', 'orange']
Number of fruits: 4

In [9]:
# 🔹 2. TUPLES
# A tuple is an ordered, immutable collection that allows duplicates

dimensions = (10, 20, 30)
print("Tuple:", dimensions)

Tuple: (10, 20, 30)

In [10]:
# Accessing elements
print("Second element:", dimensions[1])

# Tuples are immutable: can't add/remove
# dimensions[1] = 50 → This would raise an error

Second element: 20

In [11]:
# 🔹 3. SETS
# A set is an unordered, mutable collection with NO duplicates

unique_numbers = {1, 2, 3, 2, 1}
print("Set (no duplicates):", unique_numbers)

Set (no duplicates): {1, 2, 3}

In [12]:
# Adding elements
unique_numbers.add(4)
print("After adding 4:", unique_numbers)

After adding 4: {1, 2, 3, 4}

In [13]:
# Removing elements
unique_numbers.remove(2)
print("After removing 2:", unique_numbers)

After removing 2: {1, 3, 4}

In [14]:
# Set operations
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print("Union:", set_a | set_b)
print("Intersection:", set_a & set_b)
print("Difference (A - B):", set_a - set_b)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference (A - B): {1, 2}

In [15]:
# 🔹 4. DICTIONARIES
# A dictionary stores key-value pairs (like a map or JSON object)

student = {
    'name': 'Alice',
    'age': 21,
    'course': 'Python'
}
print("Dictionary:", student)

Dictionary: {'name': 'Alice', 'age': 21, 'course': 'Python'}

In [16]:
# Access value by key
print("Student name:", student['name'])

Student name: Alice

In [17]:
# Add or update value
student['grade'] = 'A'
print("After adding grade:", student)

# Remove a key
del student['age']
print("After deleting age:", student)

# Loop through dictionary
for key, value in student.items():
    print(f"{key}: {value}")

After adding grade: {'name': 'Alice', 'age': 21, 'course': 'Python', 'grade': 'A'}
After deleting age: {'name': 'Alice', 'course': 'Python', 'grade': 'A'}
name: Alice
course: Python
grade: A

In [18]:
# Bonus: Dictionary from two lists using zip()
keys = ['id', 'name', 'marks']
values = [101, 'John', 88]
student_info = dict(zip(keys, values))
print("Student Info from zip:", student_info)

Student Info from zip: {'id': 101, 'name': 'John', 'marks': 88}

#✅ Summary

| Data Type  | Ordered | Mutable | Duplicates | Example Syntax |
| ---------- | ------- | ------- | ---------- | -------------- |
| List       | ✅       | ✅       | ✅          | `['a', 'b']`   |
| Tuple      | ✅       | ❌       | ✅          | `('a', 'b')`   |
| Set        | ❌       | ✅       | ❌          | `{'a', 'b'}`   |
| Dictionary | ✅ keys  | ✅       | keys ❌     | `{'k': 'v'}`   |