#Pandas Operations

Basic pandas functions

Converting arrays to DataFrames

Indexing and slicing in DataFrames

Data cleaning (handling missing values)

Data manipulation (columns, sorting, grouping)

Synthetic data generation for practice

In [6]:
# -----------------------------------------------------------
# ðŸ§’ PRACTICAL: Getting Started with pandas Library
# -----------------------------------------------------------

import pandas as pd
import numpy as np

In [7]:
# -----------------------------------------------------------
# ðŸ”¹ 1. BASIC PANDAS DATA STRUCTURES
# -----------------------------------------------------------

# Create a Series (1D labeled array with custom index)
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print("\nSeries:")
print(s)

# Create a DataFrame (2D labeled table)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

Series:
a    10
b    20
c    30
d    40
dtype: int64

DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

In [8]:
# -----------------------------------------------------------
# ðŸ”¹ 2. CONVERT ARRAY TO DATAFRAME
# -----------------------------------------------------------

# Convert a NumPy array to a DataFrame
array = np.array([[1, 2], [3, 4], [5, 6]])
df_from_array = pd.DataFrame(array, columns=['Column1', 'Column2'])
print("\nDataFrame from NumPy array:")
print(df_from_array)

DataFrame from NumPy array:
   Column1  Column2
0        1        2
1        3        4
2        5        6

In [9]:
# -----------------------------------------------------------
# ðŸ”¹ 3. INDEXING & SLICING IN DATAFRAME
# -----------------------------------------------------------

# Access a row by label using loc
print("\nRow with label 1 using loc:")
print(df.loc[1])

Row with label 1 using loc:
Name        Bob
Age          30
Salary    60000
Name: 1, dtype: object

In [10]:
# Access rows by position using iloc
print("\nFirst two rows using iloc:")
print(df.iloc[0:2])

First two rows using iloc:
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

In [11]:
# Select a single column by label
print("\nSelect 'Name' column:")
print(df['Name'])

# Select multiple columns
print("\nSelect 'Name' and 'Age' columns:")
print(df[['Name', 'Age']])

# Filter rows where a condition is true
print("\nRows where Salary > 60000:")
print(df[df['Salary'] > 60000])

Select 'Name' column:
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

Select 'Name' and 'Age' columns:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

Rows where Salary > 60000:
      Name  Age  Salary
2  Charlie   35   70000
3    David   40   80000

In [12]:
# -----------------------------------------------------------
# ðŸ”¹ 4. DATA CLEANING
# -----------------------------------------------------------

# Create a DataFrame with missing (NaN) values
data_dirty = {
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [25, None, 35, 40],
    'Salary': [50000, 60000, None, 80000]
}
df_dirty = pd.DataFrame(data_dirty)
print("\nOriginal Dirty DataFrame:")
print(df_dirty)

Original Dirty DataFrame:
    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob   NaN  60000.0
2   None  35.0      NaN
3  David  40.0  80000.0

In [13]:
# Drop rows with any missing values
print("\nDrop rows with any NaN values:")
print(df_dirty.dropna())

# Fill missing values with specified values
print("\nFill missing values with a specific value:")
print(df_dirty.fillna({'Name': 'Unknown', 'Age': df_dirty['Age'].mean(), 'Salary': 0}))

Drop rows with any NaN values:
    Name   Age   Salary
0  Alice  25.0  50000.0
3  David  40.0  80000.0

Fill missing values with a specific value:
      Name        Age   Salary
0    Alice  25.000000  50000.0
1      Bob  33.333333  60000.0
2  Unknown  35.000000      0.0
3    David  40.000000  80000.0

In [14]:
# Detect missing values with a Boolean DataFrame
print("\nBoolean DataFrame for missing values:")
print(df_dirty.isnull())

Boolean DataFrame for missing values:
    Name    Age  Salary
0  False  False   False
1  False   True   False
2   True  False    True
3  False  False   False

In [15]:
# -----------------------------------------------------------
# ðŸ”¹ 5. DATA MANIPULATION
# -----------------------------------------------------------

# Add a new column based on calculations
df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame with Bonus column:")
print(df)

# Rename columns using rename()
print("\nRename columns:")
df_renamed = df.rename(columns={'Salary': 'BaseSalary'})
print(df_renamed)

# Sort rows by a column in descending order
print("\nSort by Age descending:")
print(df.sort_values(by='Age', ascending=False))

# Group by a derived boolean column and calculate mean
print("\nGroup by operation (average salary by age > 30 or not):")
df['AgeGroup'] = df['Age'] > 30
print(df.groupby('AgeGroup')['Salary'].mean())

DataFrame with Bonus column:
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   35   70000  7000.0
3    David   40   80000  8000.0

Rename columns:
      Name  Age  BaseSalary   Bonus
0    Alice   25       50000  5000.0
1      Bob   30       60000  6000.0
2  Charlie   35       70000  7000.0
3    David   40       80000  8000.0

Sort by Age descending:
      Name  Age  Salary   Bonus
3    David   40   80000  8000.0
2  Charlie   35   70000  7000.0
1      Bob   30   60000  6000.0
0    Alice   25   50000  5000.0

Group by operation (average salary by age > 30 or not):
AgeGroup
False    55000.0
True     75000.0
Name: Salary, dtype: float64

In [16]:
# Rename columns using rename()
print("\nRename columns:")
df_renamed = df.rename(columns={'Salary': 'BaseSalary'})
print(df_renamed)

Rename columns:
      Name  Age  BaseSalary   Bonus  AgeGroup
0    Alice   25       50000  5000.0     False
1      Bob   30       60000  6000.0     False
2  Charlie   35       70000  7000.0      True
3    David   40       80000  8000.0      True

In [17]:
# Sort rows by a column in descending order
print("\nSort by Age descending:")
print(df.sort_values(by='Age', ascending=False))

# Group by a derived boolean column and calculate mean
print("\nGroup by operation (average salary by age > 30 or not):")
df['AgeGroup'] = df['Age'] > 30
print(df.groupby('AgeGroup')['Salary'].mean())

Sort by Age descending:
      Name  Age  Salary   Bonus  AgeGroup
3    David   40   80000  8000.0      True
2  Charlie   35   70000  7000.0      True
1      Bob   30   60000  6000.0     False
0    Alice   25   50000  5000.0     False

Group by operation (average salary by age > 30 or not):
AgeGroup
False    55000.0
True     75000.0
Name: Salary, dtype: float64

In [18]:
# -----------------------------------------------------------
# ðŸ”¹ 6. SYNTHETIC DATA CREATION FOR PRACTICE
# -----------------------------------------------------------

# Create a synthetic DataFrame for practice with random data
np.random.seed(1)
num_rows = 10
df_synth = pd.DataFrame({
    'ID': np.arange(1, num_rows + 1),
    'Score': np.random.randint(50, 100, size=num_rows),
    'Passed': np.random.choice([True, False], size=num_rows)
})

print("\nSynthetic DataFrame:")
print(df_synth)

Synthetic DataFrame:
   ID  Score  Passed
0   1     87   False
1   2     93    True
2   3     62   False
3   4     58   False
4   5     59    True
5   6     61    True
6   7     55   False
7   8     65    True
8   9     50    True
9  10     66    True

In [19]:
# Filter rows based on a condition
print("\nStudents who passed:")
print(df_synth[df_synth['Passed'] == True])

# Calculate mean for filtered rows
print("\nAverage score of failed students:")
print(df_synth[df_synth['Passed'] == False]['Score'].mean())

Students who passed:
   ID  Score  Passed
1   2     93    True
4   5     59    True
5   6     61    True
7   8     65    True
8   9     50    True
9  10     66    True

Average score of failed students:
65.5

In [20]:
# -----------------------------------------------------------
# ðŸ”¹ 7. INSPECTING DATAFRAME STRUCTURE
# -----------------------------------------------------------

# Get concise summary of DataFrame including types and non-null counts
print("\nDataFrame info:")
df.info()

# Get basic statistics of numerical columns
print("\nDataFrame describe:")
print(df.describe())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      4 non-null      object
 1   Age       4 non-null      int64
 2   Salary    4 non-null      int64
 3   Bonus     4 non-null      float64
 4   AgeGroup  4 non-null      bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 264.0+ bytes

DataFrame describe:
             Age        Salary        Bonus
count   4.000000      4.000000     4.000000
mean   32.500000  65000.000000  6500.000000
std     6.454972  12909.944487  1290.994449
min    25.000000  50000.000000  5000.000000
25%    28.750000  57500.000000  5750.000000
50%    32.500000  65000.000000  6500.000000
75%    36.250000  72500.000000  7250.000000
max    40.000000  80000.000000  8000.000000

In [21]:
# Check data types of columns
print("\nData types of each column:")
print(df.dtypes)

# View top rows
print("\nFirst 3 rows:")
print(df.head(3))

# View bottom rows
print("\nLast 2 rows:")
print(df.tail(2))

Data types of each column:
Name         object
Age           int64
Salary        int64
Bonus       float64
AgeGroup       bool
dtype: object

First 3 rows:
      Name  Age  Salary   Bonus  AgeGroup
0    Alice   25   50000  5000.0     False
1      Bob   30   60000  6000.0     False
2  Charlie   35   70000  7000.0      True

Last 2 rows:
      Name  Age  Salary   Bonus  AgeGroup
2  Charlie   35   70000  7000.0      True
3    David   40   80000  8000.0      True

In [22]:
# -----------------------------------------------------------
# ðŸ”¹ 8. STATISTICAL & PROBABILITY FUNCTIONS IN PANDAS
# -----------------------------------------------------------

# Compute central tendency measures
print("\nMean Age:", df['Age'].mean())
print("Median Salary:", df['Salary'].median())
print("Mode of Bonus:")
print(df['Bonus'].mode())

# Compute spread measures
print("Standard Deviation of Salary:", df['Salary'].std())
print("Variance of Salary:", df['Salary'].var())

Mean Age: 32.5
Median Salary: 65000.0
Mode of Bonus:
0    5000.0
1    6000.0
2    7000.0
3    8000.0
Name: Bonus, dtype: float64
Standard Deviation of Salary: 12909.944487358056
Variance of Salary: 166666666.66666666

In [23]:
# Correlation and Covariance between columns
print("\nCorrelation between Age and Salary:")
print(df[['Age', 'Salary']].corr())

print("\nCovariance between Age and Salary:")
print(df[['Age', 'Salary']].cov())

# Frequency of values
print("\nValue counts for AgeGroup:")
print(df['AgeGroup'].value_counts())

Correlation between Age and Salary:
        Age  Salary
Age     1.0     1.0
Salary  1.0     1.0

Covariance between Age and Salary:
                 Age        Salary
Age        41.666667  8.333333e+04
Salary  83333.333333  1.666667e+08

Value counts for AgeGroup:
AgeGroup
False    2
True     2
Name: count, dtype: int64

In [24]:
# Cumulative statistics
print("\nCumulative sum of Salary:")
print(df['Salary'].cumsum())

print("\nCumulative max of Salary:")
print(df['Salary'].cummax())

# Rank values
print("\nRank of Salary:")
print(df['Salary'].rank())

# Quantile-based binning
print("\nQuantiles of Salary:")
print(df['Salary'].quantile([0.25, 0.5, 0.75]))

Cumulative sum of Salary:
0     50000
1    110000
2    180000
3    260000
Name: Salary, dtype: int64

Cumulative max of Salary:
0    50000
1    60000
2    70000
3    80000
Name: Salary, dtype: int64

Rank of Salary:
0    1.0
1    2.0
2    3.0
3    4.0
Name: Salary, dtype: float64

Quantiles of Salary:
0.25    57500.0
0.50    65000.0
0.75    72500.0
Name: Salary, dtype: float64

In [25]:
# -----------------------------------------------------------
# ðŸ”¹ 9. LOADING DATA FROM DIFFERENT FORMATS
# -----------------------------------------------------------

# Note: These examples assume the files are present in the working directory.

# Load data from CSV file
# df_csv = pd.read_csv('data.csv')
# print("\nData loaded from CSV:")
# print(df_csv.head())

# Load data from Excel file
# df_excel = pd.read_excel('data.xlsx')
# print("\nData loaded from Excel:")
# print(df_excel.head())

# Load data from JSON file
# df_json = pd.read_json('data.json')
# print("\nData loaded from JSON:")
# print(df_json.head())

# Load data from PDF using tabula (requires Java)
# import tabula
# df_pdf = tabula.read_pdf("data.pdf", pages='all')[0]
# print("\nData loaded from PDF:")
# print(df_pdf.head())

In [26]:
# -----------------------------------------------------------
# ðŸ”¹ END OF PANDAS PRACTICAL
# -----------------------------------------------------------

# -----------------------------------------------------------
# ðŸ“Š SUMMARY TABLE: Important Pandas Functions
# -----------------------------------------------------------
import pandas as pd

summary_data = {
    "Function": [
        "pd.Series()",
        "pd.DataFrame()",
        "df.head()",
        "df.tail()",
        "df.info()",
        "df.describe()",
        "df.dtypes",
        "df.loc[]",
        "df.iloc[]",
        "df['column']",
        "df[['col1','col2']]",
        "df.dropna()",
        "df.fillna()",
        "df.isnull()",
        "df.sort_values()",
        "df.groupby()",
        "df.mean(), median(), mode()",
        "df.std(), var()",
        "df.corr(), cov()",
        "df.value_counts()",
        "df.cumsum(), cummax()",
        "df.rank()",
        "df.quantile()",
        "pd.read_csv()",
        "pd.read_excel()",
        "pd.read_json()"
    ],
    "Purpose": [
        "Create a one-dimensional labeled array",
        "Create a 2D labeled data structure",
        "Display first n rows",
        "Display last n rows",
        "Summary including non-null values, types",
        "Statistical summary of numerical columns",
        "Data types of each column",
        "Label-based row/column selection",
        "Position-based row/column selection",
        "Select a single column",
        "Select multiple columns",
        "Remove rows with missing values",
        "Fill missing values",
        "Check for missing values",
        "Sort by column values",
        "Group data and apply aggregation",
        "Central tendency stats",
        "Spread or dispersion stats",
        "Relationships between columns",
        "Frequency of values",
        "Cumulative operations",
        "Ranks of data",
        "Get quantiles",
        "Read CSV file",
        "Read Excel file",
        "Read JSON file"
    ]
}

summary_df = pd.DataFrame(summary_data)
print("\nSummary of Important Pandas Functions:")
print(summary_df)

# -----------------------------------------------------------
# ðŸ”¹ END OF NOTEBOOK
# -----------------------------------------------------------

Summary of Important Pandas Functions:
                       Function                                   Purpose
0                   pd.Series()    Create a one-dimensional labeled array
1                pd.DataFrame()        Create a 2D labeled data structure
2                     df.head()                      Display first n rows
3                     df.tail()                       Display last n rows
4                     df.info()  Summary including non-null values, types
5                 df.describe()  Statistical summary of numerical columns
6                     df.dtypes                 Data types of each column
7                      df.loc[]          Label-based row/column selection
8                     df.iloc[]       Position-based row/column selection
9                  df['column']                    Select a single column
10          df[['col1','col2']]                   Select multiple columns
11                  df.dropna()           Remove rows with missing values
12                  df.fillna()                       Fill missing values
13                  df.isnull()                  Check for missing values
14             df.sort_values()                     Sort by column values
15                 df.groupby()          Group data and apply aggregation
16  df.mean(), median(), mode()                    Central tendency stats
17              df.std(), var()                Spread or dispersion stats
18             df.corr(), cov()             Relationships between columns
19            df.value_counts()                       Frequency of values
20        df.cumsum(), cummax()                     Cumulative operations
21                    df.rank()                             Ranks of data
22                df.quantile()                             Get quantiles
23                pd.read_csv()                             Read CSV file
24              pd.read_excel()                           Read Excel file
25               pd.read_json()                            Read JSON file