# üêç Python Fundamentals: Syntax, Variables, Data Types, and I/O
Welcome to this Python practical! In this notebook, you'll learn:
- Python syntax basics
- How to declare and use variables
- Data types (strings, integers, floats, booleans, lists, dictionaries)
- Basic input/output (I/O) operations

## ‚úçÔ∏è Python Syntax Basics

In [1]:
# A simple Python statement
print("Hello, Python!")  # This is a comment

# Indentation defines blocks
if True:
    print("This is indented correctly.")
else:
    print("This won't run.")  # Not executed

Hello, Python!
This is indented correctly.

## üì¶ Variables

In [2]:
# Assign values to variables
name = "Alice"
age = 25
height = 5.6

# Print values
print("Name:", name)
print("Age:", age)
print("Height:", height)

# Variables are dynamically typed
name = 123  # Now 'name' holds an integer
print("New value of name:", name)

Name: Alice
Age: 25
Height: 5.6
New value of name: 123

## üî¢ Data Types

In [7]:
# Integer
a = 10
print(type(a))

<class 'int'>

In [8]:
# Float
b = 3.14
print(type(b))

<class 'float'>

In [9]:
# String
c = "Python"
print(type(c))

# Boolean
d = True
print(type(d))

# List
e = [1, 2, 3, "four"]
print(type(e), e)

# Dictionary
f = {"name": "Alice", "age": 25}
print(type(f), f)

<class 'str'>
<class 'bool'>
<class 'list'> [1, 2, 3, 'four']
<class 'dict'> {'name': 'Alice', 'age': 25}

## üñäÔ∏è Input and Output Operations

In [4]:
# Output using print
print("Welcome to Python I/O!")

Welcome to Python I/O!

In [5]:
# Input from user (uncomment to test in interactive mode)
user_name = input("Enter your name: ")
print("Hello,", user_name)

Enter your name: harsh
Hello, harsh

In [6]:
# Type casting input (interactive mode only)
user_age = int(input("Enter your age: "))
print("You will be", user_age + 1, "next year.")

Enter your age: 23
You will be 24 next year.